<% if !flash[:notice].blank? %>
  <div class="alert alert-info">
  <%= flash[:notice] %>
  </div>
<% end %>
<br />
<%= link_to "New audios", new_audio_path, class: "btn btn-primary" %>
<br />
<br />
<% @audios.each do |audio| %>
  <%= link_to audio_tag(audio.attachment_url, :controls => true), audio.attachment_url %>
  <%= button_to "Delete", audio, method: :delete, class: "btn btn-danger", data: {confirm: "Are you sure?"} %>
  <br />
<% end %>