<% if !flash[:notice].blank? %>
  <div class="alert alert-info">
  <%= flash[:notice] %>
  </div>
<% end %>
<br />
<%= link_to "New image", new_image_path, class: "btn btn-primary" %>
<br />
<br />
<table class="table table-bordered table-striped">
  <tbody>
    <% @images.each do |image| %>
      <tr>
        <td><%= link_to "Show", image.attachment_url %></td>
        <td><%= button_to "Delete", image, method: :delete, class: "btn btn-danger", data: {confirm: "Are you sure?"} %></td>
      </tr>
    <% end %>
  </tbody>
</table>